<html>
<head>

  <title>Shiritori Game</title>
  <link href="{{ url_for('static', filename='styles/style.css')}}" type="text/css" rel ="stylesheet">
  <link href="{{ url_for('static', filename='styles/global.css')}}" type="text/css" rel ="stylesheet">
  <style>
    li{
      display:inline;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

  </style>
</head>
  <body>
  <div class="header">
    <h1 class="title">Shiritori Player</h1>
    <div class="navbar">
      <ul class="block">
        <li><a href="#">a</a></li>
        <li><a href="#">a</a></li>
        <li><a href="#">a</a></li>
        <li><a href="#">a</a></li>
        <li><a href="#">a</a></li>
        
      </ul>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flex block nostyle">
    {% for message in messages %}
   	<li>{{message[1]}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form action="" method="post" autocomplete="off">
                {{form.csrf}}
    <div class="input text">
                {{form.word.label}} {{form.word(autocomplete="off")}}
    </div>
    <div class="input text">
                {{form.past_words.label}} {{form.past_words(readonly=true)}}
    </div>
    <div class="input submit">
      <input type="submit" value="Submit">
    </div>
  </form>
  </body>
</html>
